<nav class="navbar navbar-default" ng-controller="homeController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">     
        <a class="navbar-brand" ui-sref="view">
        Blog Angular
        </a>
        <ul class="nav navbar-nav">
            <li ng-class="{'active': currentView === 'view'}"><a ui-sref="view" ng-click="currentView= 'view'">View</a></li>
            <li ng-class="{'active': currentView === 'profile'}"><a ui-sref="profile" ng-click="currentView= 'profile'">My Profile</a></li>
            <li ng-class="{'active': currentView === 'entries'}"><a ui-sref="entries" ng-click="currentView= 'entries'">Blog Entries</a></li>
        </ul>
    </div><!-- /.navbar-header -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" style="background-color: white; min-height: 700px;">
  <div class="col-md-12"><br></div>
  
  <div class="col-md-12" ui-view></div>

</div>