<!--Header Content-->
<div ng-include="'./app/view/templates/content-header.html'"></div>

<div class="panel panel-default">
    <div class="panel-body">
        
        <!-- Items-->
        <div class="col-md-11 col-md-offset-1">
            <div class="panel-header">
                <h3>Post Number 1 <small>This is a hard coded test</small></h3>
            </div>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur repellendus, esse voluptate incidunt ea nostrum praesentium quasi nulla commodi recusandae ducimus, amet perspiciatis cupiditate ex architecto dolore impedit ipsa et.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consectetur, nemo optio quasi harum blanditiis dolorum quam totam maiores, labore, perspiciatis ipsa modi. Illo, laborum quo. Similique perspiciatis voluptate sunt?
            </p>
        </div>

        <!-- Items-->
        <div class="col-md-11 col-md-offset-1">
            <div class="panel-header">
                <h3>Post Number 1 <small>This is a hard coded test</small></h3>
            </div>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur repellendus, esse voluptate incidunt ea nostrum praesentium quasi nulla commodi recusandae ducimus, amet perspiciatis cupiditate ex architecto dolore impedit ipsa et.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consectetur, nemo optio quasi harum blanditiis dolorum quam totam maiores, labore, perspiciatis ipsa modi. Illo, laborum quo. Similique perspiciatis voluptate sunt?
            </p>
        </div>

        <!-- Items-->
        <div class="col-md-11 col-md-offset-1">
            <div class="panel-header">
                <h3>Post Number 1 <small>This is a hard coded test</small></h3>
            </div>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur repellendus, esse voluptate incidunt ea nostrum praesentium quasi nulla commodi recusandae ducimus, amet perspiciatis cupiditate ex architecto dolore impedit ipsa et.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consectetur, nemo optio quasi harum blanditiis dolorum quam totam maiores, labore, perspiciatis ipsa modi. Illo, laborum quo. Similique perspiciatis voluptate sunt?
            </p>
        </div>

        <!-- Items-->
        <div class="col-md-11 col-md-offset-1">
            <div class="panel-header">
                <h3>Post Number 1 <small>This is a hard coded test</small></h3>
            </div>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur repellendus, esse voluptate incidunt ea nostrum praesentium quasi nulla commodi recusandae ducimus, amet perspiciatis cupiditate ex architecto dolore impedit ipsa et.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consectetur, nemo optio quasi harum blanditiis dolorum quam totam maiores, labore, perspiciatis ipsa modi. Illo, laborum quo. Similique perspiciatis voluptate sunt?
            </p>
        </div>



    </div>
</div>